.PlayerContainer1of4 {
  display: inline-block;
  margin: auto;
  width: 24%;
  min-height: 25px;
}
.PlayerContainer1of5 {
  display: inline-block;
  margin: auto;
  width: 19%;
  min-height: 25px;
}
.ShirtImage {
  width: 80px;
}
#Pitch {
  max-width: 490px;
  background-image: url("/img/pitch.png");
  background-repeat: no-repeat;
}
