<html lang="en" ng-app="FOffside">

  <head>
    <h1>Fantasy Offside</h1>
      <script src="bower_components/angular/angular.js"></script>
      <script src="js/app.js"></script>
      <script src="js/fOffsideController.js"></script>
  </head>
  -- Welcome to our magical page --

  <body ng-controller="FOffsideController as Ctrl">
    <div ng-show="Ctrl.showForm">
      <form class="form-horizontal">
        <input type="text" ng-model="Ctrl.inputId" placeholder="Please enter your team id">
        <button class="btn" ng-click="Ctrl.getSquad()">Submit</button>
      </form>
    </div>

    <table ng-show="Ctrl.showTable">
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Position</th>
      </tr>
      <tr>
        <td> {{ Ctrl.goalkeeper.playerdata }} </td>
        <td> {{ Ctrl.goalkeeper.teamname }} </td>
        <td> {{ Ctrl.goalkeeper.position }} </td>
      <tr ng-repeat="defender in Ctrl.defenders">
        <td> {{ defender.playerdata }} </td>
        <td> {{ defender.teamname }} </td>
        <td> {{ defender.position }} </td>
      </tr>
      <tr ng-repeat="midfielder in Ctrl.midfielders">
        <td> {{ midfielder.playerdata }} </td>
        <td> {{ midfielder.teamname }} </td>
        <td> {{ midfielder.position }} </td>
      </tr>
      <tr ng-repeat="forward in Ctrl.forwards">
        <td> {{ forward.playerdata }} </td>
        <td> {{ forward.teamname }} </td>
        <td> {{ forward.position }} </td>
      </tr>
    </table>

    <table ng-show="Ctrl.showTable">
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Position</th>
      </tr>
      <tr ng-repeat="substitute in Ctrl.substitutes">
        <td> {{ substitute.playerdata }} </td>
        <td> {{ substitute.teamname }} </td>
        <td> {{ substitute.position }} </td>
      </tr>
    </table>

    <div ng-show="Ctrl.showOptimiseButton">
      <button class="btn" ng-click="Ctrl.optimiseSquad()">Optimise Squad</button>
    </div>

  </body>
</html>
