<div class="container">
  <div class="jumbotron">
    <h1>Fantasy Offside</h1>
    <p>Helping you own Fantasy Football.</p>
  </div>

  <div ng-show="Ctrl.showForm">
    <form class="form-horizontal" role="form">
      <div class="col-sm-6">
        <input type="fplid" class="form-control" id="fplid" ng-model="Ctrl.inputId" placeholder="Enter your FPL id">
      </div>
      <div class="col-sm-6">
        <button class="btn" ng-click="Ctrl.getSquad()">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </div>
    </form>
  </div>

  <div ng-show="Ctrl.displayingCurrentSquad">

    <h2>Your team</h2>
    <table id="team-table" class="table">
      <thead>
        <th data-field="name" class="col-sm-4">Name</th>
        <th data-field="team" class="col-sm-4">Team</th>
        <th data-field="position" class="col-sm-4">Position</th>
      </thead>
      <tbody>
        <tr>
          <td> {{ Ctrl.goalkeeper.playerdata }} </td>
          <td> {{ Ctrl.goalkeeper.teamname }} </td>
          <td> {{ Ctrl.goalkeeper.position }} </td>
        </tr>
        <tr ng-repeat="defender in Ctrl.defenders">
          <td> {{ defender.playerdata }} </td>
          <td> {{ defender.teamname }} </td>
          <td> {{ defender.position }} </td>
        </tr>
        <tr ng-repeat="midfielder in Ctrl.midfielders">
          <td> {{ midfielder.playerdata }} </td>
          <td> {{ midfielder.teamname }} </td>
          <td> {{ midfielder.position }} </td>
        </tr>
        <tr ng-repeat="forward in Ctrl.forwards">
          <td> {{ forward.playerdata }} </td>
          <td> {{ forward.teamname }} </td>
          <td> {{ forward.position }} </td>
        </tr>
      </tbody>
    </table>
    <h2>Your subs</h2>
    <table id="subs-table" class="table">
      <thead>
        <th data-field="name" class="col-sm-4">Name</th>
        <th data-field="team" class="col-sm-4">Team</th>
        <th data-field="position" class="col-sm-4">Position</th>
      </thead>
      <tbody>
        <tr ng-repeat="substitute in Ctrl.substitutes">
          <td> {{ substitute.playerdata }} </td>
          <td> {{ substitute.teamname }} </td>
          <td> {{ substitute.position }} </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="Ctrl.optimiseSquad()" class="center-block">Optimise Squad</button>
  </div>

  <div ng-show="Ctrl.displayingOptimisedSquad" class="container">

  <div class="col-xs-12 col-md-10 text-center">
    <!-- <img src="/img/pitch.png"></img> -->

  <div class="well well-sm">
      <div class="row">
        <!-- GKeeper -->
        <div><img ng-src="/img/{{Ctrl.goalkeeper.image}}"></img></div>
        <div>{{Ctrl.goalkeeper.playerdata}}</div>
      </div>


      <div class="row" style="overflow: scroll;">
        <!-- Defenders -->
        <div ng-repeat="defender in Ctrl.defenders" style="display:inline-block;">
          <div><img ng-src="/img/{{defender.image}}"></img></div>
          <div>{{defender.playerdata}}</div>
        </div>
      </div>


      <div class="row" style="overflow:scroll;">
        <!-- Midfielders -->
        <div ng-repeat="midfielder in Ctrl.midfielders" style="display:inline-block;">
          <div><img ng-src="/img/{{midfielder.image}}"></img></div>
          <div>{{midfielder.playerdata}}</div>
        </div>
      </div>

      <div class="row">
        <!-- Forwards -->
        <div ng-repeat="forward in Ctrl.forwards" style="display:inline-block;">
          <div><img ng-src="/img/{{forward.image}}"></img></div>
          <div>{{forward.playerdata}}</div>
        </div>
      </div>
    </div>

    <div class="row">

        <!-- Substitutes -->
      <div class="well well-sm">
        <div ng-repeat="sub in Ctrl.substitutes" style="display:inline-block;">
          <div><img ng-src="/img/{{sub.image}}"></img></div>
          <div>{{sub.playerdata}}</div>
        </div>
      </div>
    </div>

    <!-- captains----->
    <div class="row">
      <h3>Captain: {{Ctrl.captain.playerdata}}</h3>
    </div>
    <div class="row">
      <h3>Vice-Captain: {{Ctrl.viceCaptain.playerdata}}</h3>
    </div>
  </div>

  <div class="col-xs-12 col-md-2 text-center">
    <!-- transfers-->

    <div class="row vertical-align" style="margin-top:150%;">
      <span class="glyphicon glyphicon-arrow-right"></span>
      <img ng-src="/img/{{Ctrl.transferOut.image}}"></img>
      <div>{{Ctrl.transferOut.playerdata}}</div>
    </div>

    <div class="row vertical-align">
      <span class="glyphicon glyphicon-arrow-left"></span>
      <img ng-src="/img/{{Ctrl.transferIn.image}}"></img>
      <div>{{Ctrl.transferIn.playerdata}}</div>
    </div>
  </div>

</div>
