<div ng-show="Ctrl.showForm">
  <form class="form-horizontal">
    <input type="text" ng-model="Ctrl.inputId" placeholder="Please enter your team id">
    <button class="btn" ng-click="Ctrl.getSquad()">Submit</button>
  </form>
</div>

<div ng-show="Ctrl.displayingCurrentSquad">
  <table >
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Position</th>
    </tr>
    <tr>
      <td> {{ Ctrl.goalkeeper.playerdata }} </td>
      <td> {{ Ctrl.goalkeeper.teamname }} </td>
      <td> {{ Ctrl.goalkeeper.position }} </td>
    <tr ng-repeat="defender in Ctrl.defenders">
      <td> {{ defender.playerdata }} </td>
      <td> {{ defender.teamname }} </td>
      <td> {{ defender.position }} </td>
    </tr>
    <tr ng-repeat="midfielder in Ctrl.midfielders">
      <td> {{ midfielder.playerdata }} </td>
      <td> {{ midfielder.teamname }} </td>
      <td> {{ midfielder.position }} </td>
    </tr>
    <tr ng-repeat="forward in Ctrl.forwards">
      <td> {{ forward.playerdata }} </td>
      <td> {{ forward.teamname }} </td>
      <td> {{ forward.position }} </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Position</th>
    </tr>
    <tr ng-repeat="substitute in Ctrl.substitutes">
      <td> {{ substitute.playerdata }} </td>
      <td> {{ substitute.teamname }} </td>
      <td> {{ substitute.position }} </td>
    </tr>
  </table>
  <button ng-click="Ctrl.optimiseSquad()">Optimise Squad</button>
</div>

<div ng-show="Ctrl.displayingOptimisedSquad" class="container">

  <div class="col-xs-12 col-md-10 text-center">
    <!-- <img src="/img/pitch.png"></img> -->


    <div class="row">
      <!-- GKeeper -->
      <div><img ng-src="/img/{{Ctrl.goalkeeper.image}}"></img></div>
      <div>{{Ctrl.goalkeeper.playerdata}}</div>
    </div>


    <div class="row" style="overflow: scroll;">
      <!-- Defenders -->
      <div ng-repeat="defender in Ctrl.defenders" style="display:inline-block;">
        <div><img ng-src="/img/{{defender.image}}"></img></div>
        <div>{{defender.playerdata}}</div>
      </div>
    </div>


    <div class="row" style="overflow:scroll;">
      <!-- Midfielders -->
      <div ng-repeat="midfielder in Ctrl.midfielders" style="display:inline-block;">
        <div><img ng-src="/img/{{midfielder.image}}"></img></div>
        <div>{{midfielder.playerdata}}</div>
      </div>
    </div>

    <div class="row">
      <!-- Forwards -->
      <div ng-repeat="forward in Ctrl.forwards" style="display:inline-block;">
        <div><img ng-src="/img/{{forward.image}}"></img></div>
        <div>{{forward.playerdata}}</div>
      </div>
    </div>

    <div class="row">
      <!-- Substitutes -->
      <div ng-repeat="sub in Ctrl.substitutes" style="display:inline-block;">
        <div><img ng-src="/img/{{sub.image}}"></img></div>
        <div>{{sub.playerdata}}</div>
      </div>
    </div>

    <!-- captains----->

    <div class="row">
      Captain: {{Ctrl.captain.playerdata}}
    </div>

    <div class="row">
      Vice-Captain: {{Ctrl.viceCaptain.playerdata}}
    </div>
  </div>

  <div class="col-xs-12 col-md-2 text-center">
    <!-- transfers-->
    <div class="row vertical-align" style="margin-top:150%;">
      <img ng-src="/img/{{Ctrl.transferOut.image}}"></img>
      <div>{{Ctrl.transferOut.playerdata}}</div>
    </div>

    <div class="row vertical-align">
      <img ng-src="/img/{{Ctrl.transferIn.image}}"></img>
      <div>{{Ctrl.transferIn.playerdata}}</div>
    </div>
  </div>
</div>
