<!DOCTYPE html>
<html>
<head>
  <title>FantasyOffside</title>
  <%= stylesheet_link_tag 'transfers', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <<h1>Welcome to being told what to do bitch</h1>
<%= yield %>

</body>
</html>
