<!DOCTYPE html>
<html ng-app="FOffside">
<head>
  <title>FantasyOffside</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="FOffsideController as Ctrl">

<%= yield %>

</body>
</html>
