<!DOCTYPE html>
<html ng-app="FOffside">
<head>
  <title>FantasyOffside</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="FOffsideController as Ctrl" style="background-color: #e6e6e6;">

<%= yield %>


  <div class="navbar navbar-fixed-bottom col-sm-12 center-block" style="background-color: #969D81;">
    <br>
    <p>Solving 1st world problems</p>
  </div>
</body>
</html>
