<html lang="en" ng-app="FOffside">

  <head>
    <h1>Current Squad</h1>
      <script src="bower_components/angular/angular.js"></script>
      <script src="js/app.js"></script>
  </head>
  -- Welcome to your current squad --

  <body ng-controller="FOffisdeController as Ctrl">
    <input type=submit name="Optimise your team?"></input>
  </body>

</html>
